<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jay's website Comment Form</h1>
        <p>add comments to any page on the web ...</p>
    </div>

    You entered the following ..<br>
    <br>
    The URL was: <%= url %><br>
    The comments were:<%= theComments %>

<%- include('bootfooter') -%>
